html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* using rem unit */
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
}
ul{
  list-style: none;
}
.container{
  max-width: 1440px;
  margin-inline: auto;
}
.nav{
  height: 100px;
  /* background-color: #ccc; */
  display: flex;
  align-items: center;
}
.logo{
  width: 90px;
  height: 100%;
  text-align: center;
}
.w-100{
  width: 100%;
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.d-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px;
}
.nav-list{
  
}
.nav-list li{
  display: inline-block;
  padding-left: 24px;
  line-height: 100px;
}
.nav-list li a{
  display: block;
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  transition: all .2s linear;
}
.nav-list li:hover a{
  color: #008248;
}
.btn{
  padding: 7px 16px ;
  border-radius: 50px;
  border: 1px solid #000000;
  outline: none;
  font-size: 14px;
  font-weight: 550;
  line-height: 1.2;
  text-align: center;
  transition: all .2s linear;
  margin-right: 16px;
}
.btn:hover{
 filter: brightness(0.2);
}
.bgb{
  background-color: #000000;
  color: #fff;
}
.bgw{
  background-color: #fff;
  color: #000000;
}
.bgr{
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.banner button{
  display: none;
}
.location{
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  transition: all .2s linear;
}
.location i{
  margin-right: 10px;
}
.location:hover{
  color: #008248;
}
.banner{
  /* width: 100%; */
  /* position: absolute; */

  top: 100px;
 
}
.banner h3{
  color: #fff;
  font-weight: 400;
  line-height: 50px;
  height: 50px;
  font-size: 18px;
  margin: 0 20px;
}
.c-green{
  background-color: #1e3932;

}
.line-eff{
  width: 0;
  height: 2px;
  background-color: #008248;
  position: fixed;
  pointer-events: none;
  transition: all .2s linear;
}
.ham{
  color: #000000;
  font-size: 20px;
  display: none;
}
.fixed{
  
}
/* Hero */
.hero{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-height: 600px;
  height: 600px;
  background-color: #D0EAE4;
  margin-bottom: 128px;
  
}
.slogan{
  /* max-width: 400px; */
 
  padding: 32px 40px;
}
.hero-heading{
  font-size: 36px;
  color: #000000DE;
  font-weight: 600;
}
.hero-desc{
  padding-top: 16px;
  font-size: 19px;
  color: #000000DE;
}
.sub-hero{
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
 
  align-items: flex-start;
}
.sub-hero .btn{
  color: #fff;
  background-color: #1e3932;
}
.hero-subdesc{
  color: #000000DE;
  font-size: 19px;

}
.hero-subdesc a{
  text-decoration: underline;
  color: #000000DE;
  transition: all .2s linear;
}
.hero-subdesc a:hover{
  text-decoration: none;
}
.subdescmb{
  display: none;
}

/*  */
.heading-text{
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
.heading-text h2{
  font-size: 28px;
  color: #000000DE;
}
.heading-text p{
  padding-top: 16px;
  font-size: 16px;
  font-weight: 550;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
#hero{
  margin-top: 128px;
}
/* Review */
.review{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-top: 48px;
  gap: 0 30px;
}
.review-item{
  text-align: center;
  width: 33.33333%;
  
}
.ri-img{
  max-width: 128px;
  margin-inline: auto;
  margin-bottom: 38px;
}
.ri-img img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.review-heading{
  font-size: 19px;
  color: #000000DE;

}
.review-item p{
  font-size: 16px;
  padding-top: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.review-item p a{
  color: #008248;
  text-decoration: underline;
}
#cmt{
  height: 500px;
  background-color: #000000DE;
}
#review{
  margin-bottom: 128px;
}
#star .heading-text{
  padding: 48px 0;
}
#star{
  margin-bottom: 128px;
}
/* Tab */
.tab-list{
  display: flex;
  justify-content: center;
  gap: 0 40px;
  margin-bottom: 20px;
}
.tab-item{
  border: 0;
  outline: none;
  background-color: #fff;
  padding: 8px 8px 16px 8px;
  display: inline-block;
}
.tab-item span:nth-child(1){
  font-size: 24px;
  font-weight: 600;
  color: #000000DE;
  pointer-events: none;

}
.tab-item span:nth-child(2){
  color: #CBA258;
  font-size: 14px;
  pointer-events: none;
}
.tab-item.active{
  border-bottom: 4px solid #1e3932;
}
.sub-tab{
  padding-bottom: 32px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color:#fff;
}
.tab-content{
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.tab-content.active{
  display: flex;
  animation: fadeEffect 1s;
}
.tab-img,.tab-desc{
  max-width: 375px;
}
.tab-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tab-desc h3{
  font-size: 24px;
  color: #000000DE;
  font-weight: 600;
  padding-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}
.tab-desc p{
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  font-weight: 500;
}
/* Endless */
.end{
  padding-top: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0 30px;
  
}.end-item{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.end-item-img{
  max-width: 128px;
  margin-inline:auto;
}
.end-item-img img{
  padding-bottom: 24px;
}
.sub-end-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px 0;
}
.end-item-heading{
  color: #000000DE;
  font-weight: 600;
  font-size: 19px;
}
.end-item-desc{
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #000000DE;
  font-weight: 500;
}
.sub-end-item a{
  color: #1e3932;
  font-weight: 600;
  text-decoration: underline;
  margin: 16px 0;
}#endless .heading-text{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width:740px){
  .sub-nav{
    display: none;
    
  }
  .ham{
    display: block;
    margin: 0 20px;
    line-height: 100px;
    display: inline-block;
  }
  
  .logo{
    width: 80px;
    height: 80px;
    margin: 0 20px;
  }
  .banner button{
    display: block;
  }
  .nav-list{
    position: fixed;
    width: 500px;
    background-color: #fff;
    top: 100px;
    right: 0;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateX(100%);
    opacity: 0;
    transition: all .2s linear;
  }
  .nav-list.active{
    transform: translateX(0);
    /* animation: move .3s linear; */
    opacity: 1;

    
  }
  .nav-list li{
    display: block;
  }
 
  .nav-list li a{
    font-size: 20px;
    font-weight: 400;
  }
  .nav-list li:nth-child(3){
    border-bottom: 1px solid #ccc;
  }
  .line-eff{
    display: none;
    background-color: #fff;
  }
  /* hero */
  .hero{
    justify-content: center;
    align-items: flex-start;
  }
  .slogan{
    text-align: center;
  }
  .slogan .sub-hero{
    justify-content: center;
    align-items: center;
  }
  .subdescdk{
    display: none;
  }
  .subdescmb{
    display: block;
  }
  #hero{
    margin-bottom: 128px;
  }
  /* Review */
  .review{
    flex-direction: column;
    padding: 0 20px;
    margin-top: 50px;
    align-items: flex-start;
    justify-content: center;
  }
  .review-item{
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    gap: 0 20px;
  }
  .ri-content{
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    text-align: justify;
  }
  #endless .heading-text{
    width: 100%;
  }
  .end{
  
   flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;
  gap: 40px 0;
  }
  .end-item{
    /* display: flex; */
    flex-direction: row;
    gap: 0 20px;
  }
  .sub-end-item{
    /* display: flex; */
    justify-content: flex-start;
    align-items: flex-start;
  }
  .sub-end-item p{
    text-align: justify;
  }
  
}

@keyframes move{
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(100%);

  }
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}